.body {
  font-family: Roboto, sans-serif;
  color: #434455;
  background-color: #ffffff;
}
/* HEDER */
.logo {
  font-family: Raleway, sans-serif;
  color: #4d5ae5;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.logo-accent {
  color: #2e2f42;
}
.nav-link {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.02em;
}
.nav-link:hover {
  color: #404bbf;
}
.nav-link:focus {
  color: #404bbf;
}
.nav-link:active {
  color: #404bbf;
}
.addres-tel-mail {
  font-style: normal;
}
.contacts-email-number {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.02em;
}
.contacts-email-number:hover {
  color: #404bbf;
}
.contacts-email-number:focus {
  color: #404bbf;
}
/* section title */
.order-background {
  background-color: #2e2f42;
}
.order-title {
  color: #fff;
  font-size: 56px;
  font-weight: 700;
  line-height: 107.143%;
  text-align: center;
  letter-spacing: 0.02em;
}
.order-button {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  cursor: pointer;
  }
.order-button:hover {
  background-color: #404bbf;
}
.order-button:focus {
  background-color: #404bbf;
}

/* section about company */
.company-list {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0.02em;
}
.company-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.02em;
}
/* section our team */
.team-fon {
  background-color: #F4F4FD;
}
.team-title {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 111.111%;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.team-list {
  background-color: #ffffff;
}
.team-name {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0.02em;
  }
.team-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.02em;
  
}
/* portfolio */
.portfolio-title {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.portfolio-name {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0.02em;
}
.portfolio-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.02em;
}
/* footer */
.footer-background {
  background: #2e2f42;
}
.footer-logo {
  color: #f4f4fd;
}
.footer-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  color: #f4f4fd;
  letter-spacing: 0.02em;
}
